// Admin.NET 项目的版权、商标、专利和其他相关权利均受相应法律法规的保护。使用本项目应遵守相关法律法规和许可证的要求。
//
// 本项目主要遵循 MIT 许可证和 Apache 许可证（版本 2.0）进行分发和使用。许可证位于源代码树根目录中的 LICENSE-MIT 和 LICENSE-APACHE 文件。
//
// 不得利用本项目从事危害国家安全、扰乱社会秩序、侵犯他人合法权益等法律法规禁止的活动！任何基于本项目二次开发而产生的一切法律纠纷和责任，我们不承担任何责任！

@if(@Model.BaseClassName!=""){
@:using Admin.NET.Core;
}
namespace @Model.NameSpace;

/// <summary>
/// @(@Model.Description)
/// </summary>
[SugarTable("@(@Model.TableName)","@(@Model.Description)")]
[Tenant("@(@Model.ConfigId)")]
public class @(@Model.EntityName) @Model.BaseClassName
{
@foreach (var column in Model.TableField){
if(@Model.BaseClassName=="" && @column.IsPrimarykey){
    @:/// <summary>
    @:/// @column.ColumnDescription
    @:/// </summary>
    if(!@column.IsNullable){
    @:[Required]
    }
    if(@column.DataType=="string"||@column.DataType=="string?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true, Length = @column.Length)]
    }
    else if(@column.DataType=="decimal"||@column.DataType=="decimal?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true, Length = @column.Length, DecimalDigits=@column.DecimalDigits )]
    }    
    else{
    @:[SugarColumn(ColumnName = "@column.DbColumnName", IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true)]
    }
    @:public @column.DataType @column.PropertyName { get; set; }
    @:
}
else if(@Model.BaseClassName=="" && !@column.IsPrimarykey){
    @:/// <summary>
    @:/// @column.ColumnDescription
    @:/// </summary>
    if(!@column.IsNullable){
    @:[Required]
    }
    if(@column.DataType=="string"||@column.DataType=="string?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", ColumnDescription = "@column.ColumnDescription", Length = @column.Length)]
    }
    else if(@column.DataType=="decimal"||@column.DataType=="decimal?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", ColumnDescription = "@column.ColumnDescription", Length = @column.Length, DecimalDigits=@column.DecimalDigits )]
    } 
    else{
    @:[SugarColumn(ColumnName = "@column.DbColumnName", ColumnDescription = "@column.ColumnDescription")]
    }
    @:public @column.DataType @column.PropertyName { get; set; }
    @:
}
else if(@Model.BaseClassName!="" && @column.IsPrimarykey && @column.DbColumnName.ToLower()!="id"){
    @:/// <summary>
    @:/// @column.ColumnDescription
    @:/// </summary>
    if(!@column.IsNullable){
    @:[Required]
    }
    if(@column.DataType=="string"||@column.DataType=="string?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true, Length = @column.Length)]
    }
    else if(@column.DataType=="decimal"||@column.DataType=="decimal?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true, Length = @column.Length, DecimalDigits=@column.DecimalDigits )]
    } 
    else{
    @:[SugarColumn(ColumnName = "@column.DbColumnName", IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true)]
    }
    @:public @column.DataType @column.PropertyName { get; set; }
    @:
}
else if(@Model.BaseClassName!="" && !@column.IsPrimarykey && @column.DbColumnName.ToLower()!="id"){
    @:/// <summary>
    @:/// @column.ColumnDescription
    @:/// </summary>
    if(!@column.IsNullable){
    @:[Required]
    }
    if(@column.DataType=="string"||@column.DataType=="string?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", ColumnDescription = "@column.ColumnDescription", Length = @column.Length)]
    }
    else if(@column.DataType=="decimal"||@column.DataType=="decimal?"){
    @:[SugarColumn(ColumnName = "@column.DbColumnName", ColumnDescription = "@column.ColumnDescription", Length = @column.Length, DecimalDigits=@column.DecimalDigits )]
    }
    else{
    @:[SugarColumn(ColumnName = "@column.DbColumnName", ColumnDescription = "@column.ColumnDescription")]
    }
    @:public @column.DataType @column.PropertyName { get; set; }
    @:
}
}
}
